<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".ui.VirtusizeWebViewActivity" />

        <!-- Required: set your sentry.io project identifier (DSN) -->
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://fc419e92ef1a49b9cef57d1c6f207e75@o903.ingest.us.sentry.io/4510877744562176"
            />
        <!-- Add data like request headers, user ip address and device name, see https://docs.sentry.io/platforms/android/data-management/data-collected/ for more info -->
        <meta-data
            android:name="io.sentry.send-default-pii"
            android:value="true"
            />
        <!-- Enable Sentry structured Logs feature (requires sentry-android >= 8.0.0) -->
        <meta-data
            android:name="io.sentry.logs.enabled"
            android:value="true" />
        <meta-data
            android:name="io.sentry.metrics.enabled"
            android:value="true" />
    </application>

</manifest>
